* {
  font-family: "lobster", cursive;
}
.list {
  list-style-type: none;
}

ul,
.day-list {
  list-style-type: none;
}

aside {
  background-color: rgb(81, 203, 233);
  color: whitesmoke;
}

.container-fluid {
  background-color: rgba(196, 173, 154, 0.575);
}

.forecast-div {
  background-color: cornsilk;
}

.card-body {
  background-color: cornsilk;
}

.custom-nav {
  background-color: darkblue;
  color: whitesmoke;
}
